@tailwind base;
@tailwind components;
@tailwind utilities;


.background{
  background-image: linear-gradient(to right, #8f079c 20%, #f757bf 50% , purple );
 background-clip: text;
  color: transparent;
}